<html lang="en" (click)="onDocumentClick($event)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-navbar (createNewObject)="createNewObject()"></app-navbar>
<body>

  <div class="container-fluid">
    <div class="row" style="width: 72.5%; height: 160px;">
      <div class="col">
        <div class="col task-column example-list">
          <h2><img src="../../assets/todo-svg.svg" alt="Todo Icon" width="35" height="35" class="column-icon" />Todo</h2>
          <!-- Todo items here -->
        </div>
        <div
          class="taskCard example-list"
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doingList, doneList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-task-card class="example-box" *ngFor="let item of todo" [task]="item"  (dataEvent)="receiveData($event)" cdkDrag>{{ item }}</app-task-card>
        </div>
      </div>
      <div class="col">
        <div class="col task-column">
          <h2><img src="../../assets/doing-svg.svg" alt="Todo Icon" width="35" height="35" class="column-icon" />Doing</h2>
          <!-- Doing items here -->
        </div>
  
        <div
          class="taskCard example-list"
          cdkDropList
          #doingList="cdkDropList"
          [cdkDropListData]="doing"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-task-card class="example-box" *ngFor="let item of doing" [task]="item" (dataEvent)="receiveData($event)" cdkDrag>{{ item }}</app-task-card>
        </div>
      </div>
      <div class="col">
        <div class="col task-column">
          <h2><img src="../../assets/done-svg-com.svg" alt="Todo Icon" width="35" height="35" class="column-icon" />Done</h2>
          <!-- Done items here -->
        </div>
        <div
          class="taskCard example-list"
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, doingList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-task-card class="example-box" *ngFor="let item of done" [task]="item"  (dataEvent)="receiveData($event)" cdkDrag>{{ item }}</app-task-card>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
